asgiref
certifi
cffi
charset-normalizer
cloudinary
coreapi
coreschema
cryptography
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-debug-toolbar
django-environ
django-filter
django-heroku
django-rest-auth
django-rest-knox
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
Pillow
# psycopg2
# psycopg2-binary
pycparser
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
uritemplate
urllib3
whitenoise
